*{
    margin: 0px;
    padding: 0px;
}
body,html,sub{
    width: 100%;
    height: 100%;
    background-color: pink;
}
.main{
  margin-top: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.container{
   
    height: 500px;
  padding: 5px;
    width: 500px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.box{
 
    background-color: orange;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 2rem  rgba(0,0,0,0.2);
    flex-wrap: wrap;
    color: aliceblue;
    margin-left: 10px;
    height: 150px;
    width: 150px;
  font-size: 60px;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    
    border-radius: 1rem;
    border: none;
}
#game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg{
    color: white;
    text-shadow: #191913;
    display: flex;
    margin: 200px;
    heigth: 650px;
flex-direction: column;
    align-items: center;
}
.hide{
    display: none;
}
#winnermsg{
    font-size: 45px;
    color: white;
}
